
body {
    background: linear-gradient(to bottom right, #000080, #ffd700);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .gallery img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery img:hover {
    transform: scale(1.5);
  }
  .gallery {
    text-align: center; /* Centraliza o conteúdo dentro do container */
}

h1 {
    font-family: 'Montserrat', sans-serif; /* Substitua 'Montserrat' pela fonte desejada */
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}