body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #8E44AD, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1  2px 5px rgba(0, 0, 0, 0.3);
}

.logo {
    float: right;
    width: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
